{% extends 'base.html' %}

{% block title %}
    Йога-центр "Гармония"
{% endblock %}


{% block content %}
        <h1 align="center">Йога-центр "Гармония"</h1>

 
     <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="card" style="width: 20rem;">
                          <img src="../static/image/N78fXQ9ZEn0.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Йога </h5>
                            <p class="card-text">Здоровье, гибкость, баланс - в жизни и в теле</p>
                            <a href="#" class="btn btn-primary">{{link}}</a>
                          </div>
                    </div>
                </div>

                <div class="col-sm-12 col-lg-4">
                    <div class="card" style="width: 20rem;">
                          <img src="../static/image/art2_1.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Медитация под живую музыку </h5>
                            <p class="card-text">Погружение в себя</p>
                            <a href="#" class="btn btn-primary">{{link}}</a>
                          </div>
                    </div>

                    </div>

                <div class="col-sm-12 col-lg-4">
                    <div class="card" style="width: 20rem;">
                          <img src="../static/image/ez6.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Здоровая спина </h5>
                            <p class="card-text">Средняя нагрузка, общеукрепляющие оздоровительные упражнения</p>
                            <a href="#" class="btn btn-primary">{{link}}</a>
                          </div>
                    </div>

                    </div>

            </div>


    </div>

{% endblock %}