{% extends 'base.html' %}

{% block title %}
    Йога-центр "Гармония"
{% endblock %}






{% block content %}
        <h1 align="center">Йога-центр "Гармония"</h1>

 
    <div class="container">
            <div id="carouselExampleCaptions" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="static/image/view-palm-tree-species-with-green-foliage_23-2151486427.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Индивидуальный подход:</h5>
                <p>Мы учитываем все ваши пожелания и предпочтения, чтобы создать идеальный маршрут, который будет отражать вашу личность и интересы.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="static/image/cute-couple-have-rest-forest_1157-24368.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Широкий выбор направлений:</h5>
                <p>От экзотических пляжей до горных вершин, от культурных столиц до уединённых деревень — у нас есть туры на любой вкус и бюджет.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="static/image/saint-isaac-s-cathedral-st-petersburg_1398-2814.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Опытные гиды:</h5>
                <p>Наши специалисты — настоящие профессионалы, которые делают каждую экскурсию увлекательной и познавательной.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="static/image/visiting-site-photo-frame_23-2149512753.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Полная поддержка</h5>
                <p>Мы сопровождаем вас на всех этапах путешествия , начиная с планирования и заканчивая возвращением домой, чтобы вы могли наслаждаться каждым моментом.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
          </button>
            </div>
    </div>



    <h2 align="center">Наши услуги: </h2>
    <div class="container">
        <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Организация групповых и индивидуальных туров
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Наша туристическая фирма предлагает уникальные решения для путешественников,</strong> желающих открыть для себя новые горизонты. Мы организуем как групповые, так и индивидуальные туры, учитывая все ваши предпочтения и пожелания. Наша команда профессиональных менеджеров поможет вам создать идеальный маршрут, будь то увлекательное приключение с друзьями или романтическое путешествие вдвоем. Мы заботимся о каждом аспекте вашего отдыха: от выбора комфортного жилья до организации экскурсий и трансферов. Путешествуйте с нами и наслаждайтесь незабываемыми моментами в каждой стране!
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Бронирование гостиниц и авиабилетов
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <strong>В нашем туристическом агентстве мы понимаем,</strong> как важен комфорт и удобство в путешествии, поэтому предлагаем услуги по бронированию гостиниц и авиабилетов на любое направление. Мы сотрудничаем с проверенными отелями и авиакомпаниями, что гарантирует вам лучшие цены и высокое качество сервиса. Наша команда экспертов поможет подобрать оптимальные варианты для вашего отдыха, учитывая ваши предпочтения и бюджет. С нами вы сможете легко и быстро забронировать все необходимое для вашего путешествия, чтобы сосредоточиться на впечатлениях и новых открытиях. Путешествуйте с комфортом и доверьтесь профессионалам!
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Экскурсионные программы и активный отдых
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <strong>Мы предлагаем широкий спектр экскурсионных программ и активного отдыха для тех,</strong> кто стремится к новым впечатлениям и приключениям. Наши туры включают в себя как насыщенные культурные экскурсии по историческим местам, так и захватывающие активные мероприятия: от трекинга в живописных горах до водных видов спорта на живописных побережьях. Каждая программа разрабатывается с учетом интересов наших клиентов и включает только лучшие маршруты с опытными гидами, которые поделятся своими знаниями и увлечением. Путешествуйте с нами и откройте для себя мир активного и познавательного отдыха, полный ярких эмоций и незабываемых впечатлений!
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Специальные предложения для семей, пар и корпоративных клиентов
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <strong>Мы рады предложить уникальные специальные предложения для семей,</strong> пар и корпоративных клиентов, которые помогут сделать ваши путешествия еще более запоминающимися. Для семей мы разработали комфортные маршруты с активностями для всех возрастов, чтобы каждый мог насладиться отдыхом. Пары могут выбрать романтические туры с эксклюзивными услугами, такими как ужины при свечах и спа-процедуры. Корпоративным клиентам мы предлагаем организовать выездные мероприятия, тимбилдинги и конференции в лучших локациях, обеспечивая высокий уровень сервиса и индивидуальный подход. Независимо от того, с кем вы путешествуете, наши специальные предложения сделают ваш отдых по-настоящему особенным!
          </div>
        </div>
      </div>
    </div>

    </div>


    <br>
<div class="container">
    <div class="card text-bg-light mb-3">
  <div class="card-header"> <h5 class="card-title" >Путешествуйте с "Глобус Приключений" и откройте для себя мир без границ!</h5></div>
  <div class="card-body">

    <p class="card-text">Заполните форму обратной связи или позвоните нам, чтобы начать ваше приключение уже сегодня.
        Мы рады помочь вам в реализации ваших туристических мечт!</p>
  </div>
</div>
</div>

{% endblock %}